In [ ]:
import sqlite3
import pandas as pd
from datetime import date

# -----------------------------
# STEP 1: Connect to SQLite DB
# -----------------------------
conn = sqlite3.connect("expenses.db")
cursor = conn.cursor()

# -----------------------------
# STEP 2: Create Table
# -----------------------------
cursor.execute("""
CREATE TABLE IF NOT EXISTS expenses (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    expense_date TEXT,
    category TEXT,
    amount REAL,
    description TEXT
)
""")
conn.commit()

# -----------------------------
# STEP 3: Add Expense Function
# -----------------------------
def add_expense(category, amount, description):
    today = date.today().strftime("%Y-%m-%d")
    cursor.execute(
        "INSERT INTO expenses (expense_date, category, amount, description) VALUES (?, ?, ?, ?)",
        (today, category, amount, description)
    )
    conn.commit()
    print("‚úÖ Expense Added Successfully!")

# -----------------------------
# STEP 4: View All Expenses
# -----------------------------
def view_expenses():
    df = pd.read_sql("SELECT * FROM expenses", conn)
    print("\nüìã All Expenses:")
    print(df)

# -----------------------------
# STEP 5: Category-wise Analysis
# -----------------------------
def category_analysis():
    df = pd.read_sql("SELECT category, SUM(amount) AS total FROM expenses GROUP BY category", conn)
    print("\nüìä Category-wise Expense Analysis:")
    print(df)

# -----------------------------
# STEP 6: Monthly Expense Report
# -----------------------------
def monthly_report():
    df = pd.read_sql("""
        SELECT substr(expense_date,1,7) AS month, SUM(amount) AS total
        FROM expenses
        GROUP BY month
    """, conn)
    print("\nüìÖ Monthly Expense Report:")
    print(df)

# -----------------------------
# STEP 7: Menu
# -----------------------------
while True:
    print("\n------ Expense Tracker ------")
    print("1. Add Expense")
    print("2. View Expenses")
    print("3. Category-wise Analysis")
    print("4. Monthly Report")
    print("5. Exit")

    choice = input("Enter choice: ")

    if choice == "1":
        category = input("Enter category (Food, Travel, Rent etc): ")
        amount = float(input("Enter amount: "))
        description = input("Enter description: ")
        add_expense(category, amount, description)

    elif choice == "2":
        view_expenses()

    elif choice == "3":
        category_analysis()

    elif choice == "4":
        monthly_report()

    elif choice == "5":
        print("üëã Exiting...")
        break

    else:
        print("‚ùå Invalid Choice")

conn.close()

------ Expense Tracker ------
1. Add Expense
2. View Expenses
3. Category-wise Analysis
4. Monthly Report
5. Exit

Enter choice:  1
Enter category (Food, Travel, Rent etc):  Food
Enter amount:  20000
Enter description:  Give me food

‚úÖ Expense Added Successfully!

------ Expense Tracker ------
1. Add Expense
2. View Expenses
3. Category-wise Analysis
4. Monthly Report
5. Exit

Enter choice:  2

üìã All Expenses:
   id expense_date category   amount   description
0   1   2026-01-26     Food  20000.0  Give me food

------ Expense Tracker ------
1. Add Expense
2. View Expenses
3. Category-wise Analysis
4. Monthly Report
5. Exit

Enter choice:  3

üìä Category-wise Expense Analysis:
  category    total
0     Food  20000.0

------ Expense Tracker ------
1. Add Expense
2. View Expenses
3. Category-wise Analysis
4. Monthly Report
5. Exit

Enter choice:  3

üìä Category-wise Expense Analysis:
  category    total
0     Food  20000.0

------ Expense Tracker ------
1. Add Expense
2. View Expenses
3. Category-wise Analysis
4. Monthly Report
5. Exit